<form id        =  "uploadForm"
      enctype   =  "multipart/form-data"
      action    =  "/api/userData"
      method    =  "post"
>
	<input type="file" name="userData" />
	<input type="submit" value="Upload Data File" name="submit">
</form>